html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: "IBM Plex Sans";
}

@keyframes breath {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(5px); /* Apply a slight blur to the background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 15px; /* Rounded corners for modern look */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Soft shadow */
}

#earth-icon {
  width: 100px; /* Adjust size as needed */
  height: auto;
  animation: spin 2s linear infinite;
}

#instructions {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8em;
  animation: breath 4s infinite ease-in-out;
  pointer-events: none;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.webgl {
  display: none;
}

.slider-container {
  margin: 20px;
  font-size: 1.5em;
}

.renewable-energy-display {
  margin-top: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 15%;
  height: 8px;
  background: #333;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: #333;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-ms-track {
  background: #333;
  height: 8px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .slider-container {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1545px) {
  #instructions {
    font-size: 2em;
  }
}

@media screen and (max-width: 1354px) {
  #instructions {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 775px) {
  #instructions {
    font-size: 1em;
  }
}