<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Renewable Energy Model</title>
<body>
  <canvas class="webgl"></canvas>
  <div class="sliderContainer">
    <label for="year">Year: </label>
    <input type="range" id="yearSlider" name="year" min="2024" max="2124" value="2024">
    <span id="yearValue">2024</span>
  </div>
  <script type="module" src="/static/earth.js"></script>
  <script type="module" src="/static/app.js"></script>
</body>
</html>
